body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a8a8a8;
  margin: 0;
}

.card-container {
  width: 500%;
  max-width: 500px;
  padding: 20px;
}

.card {
  border-radius: 15px;
  padding: 20px;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}